application:
  actions: actions
  runtimeManifest:
    packages:
      byom:
        license: Apache-2.0
        actions:
          3ds-byom:
            function: actions/byom/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              site: 3ds
              aemPublishHost: $AEM_PUBLISH_HOST
              commerceHost: $COMMERCE_HOST
              commerceBearerToken: $COMMERCE_BEARER_TOKEN
            annotations:
              require-adobe-auth: false
              final: true
          gs-byom:
            function: actions/byom/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              site: gs
              aemPublishHost: $AEM_PUBLISH_HOST
              commerceHost: $COMMERCE_HOST
              commerceBearerToken: $COMMERCE_BEARER_TOKEN
            annotations:
              require-adobe-auth: false
              final: true
          events:
            function: actions/events/index.js
            web: 'no'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              aemAdminApiKey: $AEM_ADMIN_API_KEY
              aemPublishHost: $AEM_PUBLISH_HOST
            annotations:
              require-adobe-auth: false
              final: true
  events:
    registrations:
      Event Registration:
        description: Registration for IO Events
        events_of_interest:
          - provider_metadata: aemsites
            event_codes:
              - aem.sites.contentFragment.published
              - aem.sites.contentFragment.unpublished
              - aem.sites.page.published
        runtime_action: byom/events
